<h3>{{ professorName }}，您好</h3>

此為 中央大學 資訊工程學系{{ SEtext }}碩士班 - 申請入學 的推薦函邀請信件<br>

被推薦人為 「{{ studentName }}」<br>

若您非本人，則無須理會此封信件<br>

若您為本人，請在 {{ deadline }} 之前至以下連結 <br>

<a href="http://applicant.csie.ncu.edu.tw/applicant/{{type}}/enter_recomm_table.php?T_id={{letterID}}">
http://applicant.csie.ncu.edu.tw/applicant/{{type}}/enter_recomm_table.php?T_id={{letterID}}</a><br>

填寫線上推薦函，並請勿回覆此信件<br>

中央大學-資訊工程學系碩士班-申請入學線上系統 敬上<br>

若有任何問題，請來信 ncu.recommendation.system@csie.ncu.edu.tw 或電洽 TEL：03-422-7151 分機：35200, 35250-2  詢問，謝謝。<br>
